:root {
    --blue: #d9ad7c !important;
    --green: #a2836e !important;
    --brown: #674d3c !important;
}

.App {
    font-family: sans-serif;
    text-align: center;
    height: 100%;
}

.navbar-brand{
    color: #7e1717 !important;
}

.Menu {
    background-color: #7e1717;
}

a {
    color: white !important;
}

.nav-link.active {
    color: #7e1717 !important;
}

.card-title {
    color: #7e1717 !important;
}

p.card-text {
    padding-right: 20px;
    padding-left: 20px;
    text-align: justify !important;
    color: #cc9900  !important;
}

.btn-primary {
    outline: none;
    border: none !important;
    border-bottom: 2px solid #7e1717 !important;
    background-color: white !important;
    color: #7e1717 !important;
    margin-top: 15px !important;
}

.reserveButton:hover {
    color: white !important;
    background-color: #7e1717 !important;
}

.btn-primary:enabled:hover {
    color: white !important;
    background-color: #7e1717 !important;
}

*:focus, *:active:focus, *.active:focus, *.focus, *:active.focus, *.active.focus {
    box-shadow: none !important;
}

.pagination * {
    color: #7e1717 !important;
    padding-bottom: 20px;
}

ul.pagination {
    margin: 0 !important;
}

.reservation, .menu, .tab-content {
    width: 90%;
    margin: auto;
    padding-top: 40px;
}

.cardDeck {
    width: fit-content;
    margin: auto;
}

#anchor {
    background-color: #ddd7d1 !important;
    width: 100% !important;
    padding-bottom: 60px;
}

.reservationHeader {
    font-size: 30px !important;
}

.react-datepicker__input-container input {
    width: 190px;
    padding: 15px 15px 5px;
    border: none;
    background-color: #ddd7d1;
    color: #3c2901;
    border-bottom: 1px solid #3c2901;
}

.react-datepicker__input-container {
    padding-bottom: 30px;
}

.react-datepicker__input-container input:focus {
    box-shadow: none;
    outline: none;
}

h1{
    font-size: 20px !important;
    color: black;
    text-align: center;
    font-weight: 500;
}

#floorPlan {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px 30px;
    grid-template-areas:
    "tableOf4_1 tableOf4_1 tableOf6_4 tableOf2_6 tableOf4_12 tableOf4_12"
    "tableOf4_1 tableOf4_1 tableOf6_4 tableOf2_6 tableOf4_12 tableOf4_12"
    "tableOf4_1 tableOf4_1 tableOf6_4 tableOf2_7 tableOf4_12 tableOf4_12"
    "tableOf4_1 tableOf4_1 tableOf6_4 tableOf2_7 tableOf4_12 tableOf4_12"
    "tableOf4_2 tableOf4_2 tableOf6_4 tableOf2_8 tableOf4_13 tableOf4_13"
    "tableOf4_2 tableOf4_2 tableOf6_4 tableOf2_8 tableOf4_13 tableOf4_13"
    "tableOf4_2 tableOf4_2 tableOf6_5 tableOf2_9 tableOf4_13 tableOf4_13"
    "tableOf4_2 tableOf4_2 tableOf6_5 tableOf2_9 tableOf4_13 tableOf4_13"
    "tableOf4_3 tableOf4_3 tableOf6_5 tableOf2_10 tableOf4_14 tableOf4_14"
    "tableOf4_3 tableOf4_3 tableOf6_5 tableOf2_10 tableOf4_14 tableOf4_14"
    "tableOf4_3 tableOf4_3 tableOf6_5 tableOf2_11 tableOf4_14 tableOf4_14"
    "tableOf4_3 tableOf4_3 tableOf6_5 tableOf2_11 tableOf4_14 tableOf4_14";
}

#tableOf4_1{
    background-color: var(--blue);
    grid-area: tableOf4_1;
}

#tableOf4_2 {
    background-color: var(--blue);
    grid-area: tableOf4_2;
}

#tableOf4_3 {
    background-color: var(--blue);
    grid-area: tableOf4_3;
}

#tableOf4_12 {
    background-color: var(--blue);
    grid-area: tableOf4_12;
}

#tableOf4_13 {
    background-color: var(--blue);
    grid-area: tableOf4_13;
}

#tableOf4_14 {
    background-color: var(--blue);
    grid-area: tableOf4_14;
}

#tableOf6_4 {
    background-color: var(--brown);
    grid-area: tableOf6_4;
}

#tableOf6_5 {
    background-color: var(--brown);
    grid-area: tableOf6_5;
}

#tableOf2_6 {
    background-color: var(--green);
    grid-area: tableOf2_6; 
}

#tableOf2_7 {
    background-color: var(--green);
    grid-area: tableOf2_7;
}

#tableOf2_8 {
    background-color: var(--green);
    grid-area: tableOf2_8; 
}

#tableOf2_9{
    background-color: var(--green);
    grid-area: tableOf2_9;
}

#tableOf2_10 {
    background-color: var(--green);
    grid-area: tableOf2_10;
}

#tableOf2_11 {
    background-color: var(--green);
    grid-area: tableOf2_11;
}

.reservationTables {
    margin-bottom: 50px;
}

.unavailable, .available, .booked {
    border-radius: 4px;
    padding: 20px;
}

h1 {
    color: #866816 !important;
}

.unavailable{
    opacity: 30%;
}

.booked{
    box-shadow: rgba(217, 173, 124, 0.4) 5px 5px, rgba(217, 173, 124, 0.3) 10px 10px, rgba(217, 173, 124, 0.2) 15px 15px;
}

.form-group {
    text-align: left;
}

label {
    color: #3c2901 !important;
}

.errorLog {
    color: #a53c3c;
    font-style: italic;
}